CURRENT FAMILY: 1.0.0
CONFIG VERSION: 1.20.0

; Intel I226-V NVM Update - 2MB Flash Variant
; Target firmware: V2.32
; Target ETrackId: 0x80000422
;
; REPLACES lists all known 2MB ETrackIds from older versions.
; Add your current ETrackId if not listed.

BEGIN DEVICE
DEVICENAME: Intel(R) Ethernet Controller I226-V
VENDOR: 8086
DEVICE: 125C
SUBVENDOR: 8086
SUBDEVICE: 0000
NVM IMAGE: FXVL_125C_V_2MB_2.32.bin
EEPID: 80000422
RESET TYPE: REBOOT
REPLACES: 8000028D 80000284 80000303 80000371 800003AD
END DEVICE
